body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding: 80px 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.link-button{
    background-color: #dc143c;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    border-radius: 5px;
    padding: 10px 40px;
}
.section-title {
    text-align: center;
    margin-bottom: 50px;
}
.section-title h2{
    margin: 0;
    font-size: 30px;
}
.section-title h4{
    margin: 0;
    font-size: 18px;
    color: #dc143c;
    position: relative;
}
.section-title h4::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 45px;
    background-color: #000;
    font-weight: 700;
    top: 50%;
    left: 41%;
}
.section-title h4::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 45px;
    background-color: #000;
    font-weight: 700;
    top: 50%;
    right: 41%;
}
section.banner{
    background-image: url(./images/portfolio-removebg-preview.png);
    background-color: #1c150b;
    background-repeat: no-repeat;
    background-position: top right;
    min-height: 100vh;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo h4{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    margin: 0;
    padding: 20px 0;
    letter-spacing: 2px;
}
.logo h4 span{
    color: #dc143c;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 20px 0;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 0 5px;
}
.banner .content{
    margin-top: 100px;
}
.banner .content h3{
    color: #ffffff;
    font-size: 20px;
}
.banner .content h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}
.banner .content h2{
    color: #ffffff;
    font-size: 30px;
}
.banner .content h2 span{
    color: #dc143c;
}
.about-img{
    flex: 0 0 50%;
}
.about-img img{
    width: 400px;
    height: 450px;
    object-fit: cover;
    object-position: top center;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
}
.about-content{
    flex: 0 0 50%;
    margin-top: 20px;
}
.about-content p{
    text-align: justify;
}
.service{
    background-color: #111111;
}
.service .section-title h2{
    color: #ffffff;
}
.service .section-title h4::before {
    left: 39%;
    background-color: #fff;
}
.service .section-title h4::after {
    right: 39%;
    background-color: #fff;
}
.service .service-items{
    display: flex;
}
.service .service-item{
    flex: 31%;
    padding: 20px;
    margin: 0 1%;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px gray;
    background-color: #222;
    text-align: center;
    transition: all .3s;
    
}
.service .service-item:hover{
    background-color: #dc143c;
    transform: scaleY(1.2);
}
.service .service-item span i{
    color: #ffffff;
    font-size: 50px;
}
.service .service-item h3{
    color: #ffffff;
}
.service .service-item p{
    color: #ffffff;
}